<h1 align="center"> All users: </h1>
  <% @users.each do |user| %>
  <div class="row center">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="username">
          <%= link_to user.name, user_path(user) %>
        </div>
        <% if user.posts.any? %>
          <p>Posts: <%= user.posts.count %></p>
        <% else %>
          <p>Posts: 0 </p>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
